<div id='github-projects'>
   <h2>Projects</h2>
   <h5><a href="http://code.google.com/p/emfmodelvisualizer/">emfmodelvisualizer</a> ( <a href="http://github.com/DanielWeber/emfmodelvisualizer"><img src="images/gitlogo.png"/></a> )</h5>
   <h5><a href="http://eclipse.org/swtbot/">swtbot</a> ( <a href="http://github.com/DanielWeber/swtbot"><img src="images/gitlogo.png"/></a> )</h5>
   <h5><a href="http://github.com/DanielWeber/kulerviewer/">kulerviewer</a> ( <a href="http://github.com/DanielWeber/kulerviewer/"><img src="images/gitlogo.png"/></a> )</h5>
   <h5><a href="http://danielweber.github.com/">*this</a> ( <a href="http://github.com/DanielWeber/danielweber.github.com/"><img src="images/gitlogo.png"/></a> )</h5>
</div>
